
.App{
  overflow: hidden;
  width: 100%;
}

#root{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/707/220/899/gradient-blue-pink-abstract-art-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}