html .app{
    padding: 0;
    margin: 0;  
}
.body{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/707/220/899/gradient-blue-pink-abstract-art-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
  }
  .but a{
    display: flex;
    position: absolute;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    top: 60%;
    background:  linear-gradient(95.7deg,#2bf2ff .32%,#01c3f1 100.26%);
  }
  .left{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-top: 12em;
    margin-left: -60px;
  }
  .left>h1{
    padding: 0;
    letter-spacing: 2px;
    margin: 0;
    font-size: 80px;
    color: white;
  }
  .left>.next{
    position: absolute;
    top: 40%;
    left: 25%;
    padding: 0;
    letter-spacing: 2px;
    margin: 0;
    font-size: 80px;
    margin-left: 30px;
    color: white;
  }
  .left>.image{
    height: 90px;
    border-radius: 60px;
    float: left;
    width: 250px;
  }
  .left>h1>span{
    opacity: 20%;
  }
  .body>.left>span{
    font-size: 13px;
    color: white;
  }
  .body .right{
    display: flex;
    flex: 1;
  }
  .right>img{
    position: absolute;
    top: 20%;
    height: 400px;
    width: auto;
  }